/* IONUT - Global Settings */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Exo', sans-serif;
    font-family: 'Roboto', sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
    }

.content {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    flex: 1;
    }

li,
a {
    text-decoration: none;
    list-style: none;
}
/* IONUT - end */


/* IONUT - Landing Page settings*/
.landing-content {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10rem;
}
/* IONUT - end */


/* Piotr - this seems like a nice green colour for the navbar, and a whiter green for the back, fits into the sustainibility I'd say */
.bg-light-green {
    background-color: #6DBE45; 
}

body {
    background-color: #F5FFF5; 
}





/* IONUT - Small Screens Settings */
 @media (max-width: 768px) {

    .landing-content {
        grid-template-columns: 1fr;
        gap: 2rem;
        margin-left: 2rem;
        margin-right: 2rem;
    } 

    .footer{
        flex-direction: column;
        align-items: center;
    }

    .bg-image {
        background-image: url("");
    }
    .gmap_canvas {
        width: 90vw;
    }

/* IONUT - end */
}