/* IONUT - Global Settings */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Exo', sans-serif;
    font-family: 'Roboto', sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
    }

.content {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    flex: 1;
    }

li,
a {
    text-decoration: none;
    list-style: none;
}
/* IONUT - end */


/* IONUT - Landing Page settings*/
.landing-content {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 5rem;
}

.randomiseImgs {
    width: 769px;
    height: auto;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
/* IONUT - end */

/* IONUT - About Us Page settings*/
.aboutUsForm {
    display: flex;
    flex-direction: column;
    max-width: 400px;
    margin: auto;
}
.inputFormAboutUs {
    margin-bottom: 10px;
    padding: 8px;
    width: 100%;
}
.error {
    color: red;
    font-size: 0.9em;
}
/* IONUT - end */

/* Piotr - this seems like a nice green colour for the navbar, and a whiter green for the back, fits into the sustainibility I'd say */
.bg-light-green {
    background-color: #6DBE45; 
}

body {
    background-color: #F5FFF5; 
}





/* IONUT - Small Screens Settings */
 @media (max-width: 768px) {

    .landing-content {
        grid-template-columns: 1fr;
        gap: 2rem;
        justify-items: center;
    } 

    .randomiseImgs {
        width: 300px;
        height: auto;
        border-radius: 10px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

    .aboutUsForm{
        display: flex;
        flex-direction: column;
}

    .footer{
        flex-direction: column;
        align-items: center;
    }

/* IONUT - end */
}